$background: #222;
$primary: #FFF;
$grey: #CCC;

$quarterUnit: 4px;
$halfUnit: 8px;
$unit: 16px;
$doubleUnit: 32px;
$padding: 6px;
$outerMargin: 48px;



$lightGrey: #E6E6E6;


$darkGrey: #707070;
$negative: #fff;
$defaultBlue: #598FFD;
